:root {
  --amarillo: #eadb0b;
  --negro: #000000;
  --blanco: #ffffff;
  --rojo: #e10;
  --gris: #7678;
  --azul: #081ae1;
  --anaranjado: #d16f1e;
}

html {
  font-size: 62, 5%;
}

body {
  font-size: 1rem;
  background-image: linear-gradient(
    to top,
    var(--gris) 30%,
    var(--blanco) 100%
  );
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.titulo_principal {
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
}
.titulo_principal {
  color: var(--anaranjado);
}
.Navegacion_principal {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: linear-gradient(
    to left,
    var(--gris) 30%,
    var(--blanco) 100%
  );
  border-radius: 1rem;
}
@media (min-width: 680px) {
  .Navegacion_principal {
    flex-direction: row;
    justify-content: space-around;
  }
}

.Navegacion_principal a {
  color: var(--anaranjado);
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
}

.Navegacion_principal a:hover {
  background-color: var(--negro);
}

.banner {
  background-image: url(../img/banner\ 2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem;
  border-radius: 1rem;
  margin-top: 1rem;
  text-align: center;
  background-size: 520px;
  color: var(--rojo);
}
.titulo_principaldos {
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  color: var(--anaranjado);
}
.navegacion_contactos a {
  color: var(--anaranjado);
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
}

.navegacion_contactos a:hover {
  background-color: var(--negro);
}

.navegacion_contactos {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: linear-gradient(
    to left,
    var(--gris) 30%,
    var(--blanco) 100%
  );
  border-radius: 1rem;
}
@media (min-width: 680px) {
  .navegacion_contactos {
    flex-direction: row;
    justify-content: space-around;
  }
}
.titulo {
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  color: var(--anaranjado);
}
.navegacion_sobrenosotros a {
  color: var(--anaranjado);
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
}
.navegacion_sobrenosotros a:hover {
  background-color: var(--negro);
}

.navegacion_sobrenosotros {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: linear-gradient(
    to left,
    var(--gris) 30%,
    var(--blanco) 100%
  );
  border-radius: 1rem;
}
@media (min-width: 680px) {
  .navegacion_sobrenosotros {
    flex-direction: row;
    justify-content: space-around;
  }
}
.titulo_cliente {
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  color: var(--anaranjado);
}
.navegacion_cliente a {
  color: var(--anaranjado);
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
}
.navegacion_cliente a:hover {
  background-color: var(--negro);
}

.navegacion_cliente {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: linear-gradient(
    to left,
    var(--gris) 30%,
    var(--blanco) 100%
  );
  border-radius: 1rem;
}
@media (min-width: 680px) {
  .navegacion_cliente {
    flex-direction: row;
    justify-content: space-around;
  }
}
